{{!< author}}

{{#contentFor "links"}}
{{#if website}}
<a class="author-profile-social-link" href="{{website}}" target="_blank" rel="noopener me">{{website}}</a>
{{/if}}
<a class="author-profile-social-link" href="https://github.com/sponsors/jessehouwing/" target="_blank" rel="noopener me">{{> "icons/heart"}}</a>
<a class="author-profile-social-link" href="https://github.com/jessehouwing" target="_blank" rel="noopener me">{{> "icons/github"}}</a>
<a class="author-profile-social-link" href="https://bsky.app/profile/jessehouwing.net" title="Bluesky" target="_blank" rel="noopener me">{{> "icons/bsky"}}</a>
<a class="author-profile-social-link" href="https://hachyderm.io/@jessehouwing" target="_blank" rel="noopener me">{{> "icons/mastadon"}}</a>
{{#if facebook}}
<a class="author-profile-social-link" href="{{social_url type="facebook"}}" target="_blank" rel="noopener me">{{> "icons/facebook"}}</a>
{{/if}}
<a class="author-profile-social-link" href="https://www.instagram.com/jesse.houwing/" title="Instagram" target="_blank" rel="noopener me">{{> "icons/instagram"}}</a>
<a class="author-profile-social-link" href="https://www.threads.net/@jesse.houwing" title="Threads" target="_blank" rel="noopener me">{{> "icons/threads"}}</a>
<a class="author-profile-social-link" href="https://www.linkedin.com/in/jessehouwing/" target="_blank" rel="noopener me">{{> "icons/linkedin"}}</a>
<a class="author-profile-social-link" href="https://stackoverflow.com/users/736079/jessehouwing" target="_blank" rel="noopener me">{{> "icons/stackoverflow"}}</a>
<a class="author-profile-social-link" href="https://mvp.microsoft.com/en-us/PublicProfile/5001511?fullName=Jesse%20Houwing" target="_blank" rel="noopener me">{{> "icons/mvp"}}</a>
{{#if twitter}}
<a class="author-profile-social-link" href="{{social_url type="twitter"}}" target="_blank" rel="noopener me">{{> "icons/twitter"}}</a>
{{/if}}
<a class="author-profile-social-link" href="tel:+31641813338" title="Call" target="_blank" rel="noopener me">{{> "icons/phone"}}</a>
<a class="author-profile-social-link" href="{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener me">{{> "icons/rss"}}</a>
{{/contentFor}}
